.menu{
	width: 100%;
	height: 60px;
	background-color: #fff;
	border-color: none;
}


.banner{
	height: 500px;
	background-color: #499bea;

}

section{
	 h1{
	 text-align: center;
	 padding-top: 50px;
	 }
}

.features{
	height: 400px;
	padding-top: 50px;
	border-radius: none;
}